<header>
    <nav class="navbar p-2 navbar-expand-md navbar-light bg-primary">
        <div>
            <a routerLink="https://www.simplilearn.com" class="navbar-brand text-light">Simplilearn</a>
        </div>
        <ul class="navbar-nav ">
            <li><a routerLink="/welcome/Sam" class="nav-link">Home</a></li>
            <li><a routerLink="/todos" class="nav-link">Todos</a></li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a routerLink="/login" class="nav-link">Login</a></li>
            <li><a routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>